@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
h2 {
    color: #55cd4c;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

main {
    padding: 20px;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    .box,
    aside,
    .img-diskon,
    .container {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:1000px) {
    .img-diskon {
        width: auto;
        max-width: 90%;
    }
}

.form-style {
    margin-bottom: 10px;
}

.main-pesan {
    padding: auto;
    justify-content: center;
    padding-left: 30%;
}

input,
select,
textarea {
    display: block;
    width: 50%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

button {
    display: block;
    width: 50%;
    height: 50px;
}

.text-home {
    text-align: center;
    color: #55cd4c;
    font-size: 20px;
    padding-top: 10px;
}

.text-home-first {
    text-align: center;
    color: #55cd4c;
    font-size: 40px;
}

.left-content {
    text-align: right;
}

body {
    font-family: "Roboto", sans-serif;
}

.img-diskon {
    padding-top: 30px;
    width: 500px;
    padding-left: 25px;
    padding-right: 30px;
}

.img-diskon:hover {
    width: 520px;
    box-shadow: 0 4px 8px 0 rgb(145, 247, 29);
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    padding: 0px;
    border-radius: 10px;
    margin: 0 auto;
}

.img-belanja {
    width: 250px;
}

* {
    box-sizing: border-box;
}

.box {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(153, 255, 37, 0.699);
    margin: 5px;
    border-radius: 10px;
    color: #55cd4c;
    text-align: center;
    font-weight: bold;
}

.box-tata {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(153, 255, 37, 0.699);
    margin: 5px;
    margin-top: 20px;
    border-radius: 10px;
    color: #55cd4c;
    text-align: center;
    font-weight: bold;
}

.first {
    flex-grow: 1;
}

.second {
    flex-grow: 1;
}

.third {
    flex-grow: 1;
}

.forth {
    flex-grow: 1;
}

a:hover {
    text-decoration: underline solid;
}

.text {
    font-style: italic;
    font-size: medium;
    text-align: center;
    padding: 20px;
}

h3 {
    color: green;
}

.text-tentang {
    text-align: center;
}

.img-belanja:hover {
    width: 200px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.imgsosmed {
    width: 50px;
}

.box:hover {
    box-shadow: 0 4px 8px 0 rgb(145, 247, 29);
}

.card-belanja {
    box-shadow: 0 4px 8px 0 rgba(153, 255, 37, 0.699);
    border-radius: 5px;
    padding-bottom: 800px;
    margin-top: 20px;
    padding-left: auto;
    padding-right: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(153, 255, 37, 0.699);
    border-radius: 5px;
    padding-bottom: 50px;
}

p:hover {
    color: green;
    font-size: 20px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #55cd4c;
    text-align: center;
}

nav a:hover {
    font-weight: bold;
    color: green;
}

.jumbroton {
    text-align: center;
    color: white;
}

header {
    display: inline;
    background-color: #55cd4c;
}

nav {
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #55cd4c;
}

nav a:link {
    color: green;
}

.img-home {
    align-items: center;
    width: 400px;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.left-content {
    width: 75%;
    float: left;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: white;
}

.profil header {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .left-content,
    aside {
        width: 100%;
        padding: 0;
    }
}